*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.navbar{
    border: solid 1px grey;
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    background: white;
}
.navbar .logo{
    height: 100%;
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid 1px rgba(128, 128, 128, 0.289);
    cursor: pointer;
}
.navbar .logo img{
    height: 100%;
    width: 70%;
}
.navbar .loc{
    height: 90%;
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   
}
.navbar .loc p{
    font-size: 13px;
    text-align: left;
}
.navbar .search{
    height: 90%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar .search .bar{
    padding: 10px;
    height: 55%;
    width: 98%;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, 0.186);
    display: flex;
    align-items: center;
    background: whitesmoke;
}
.navbar .search .bar img{
    height: 70%;
    width: 5%;
}
.navbar .text{
    height: 90%;
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color:rgba(0, 0, 0, 0.486);
    cursor: pointer;
}
.navbar .cart{
    height: 80%;
    width: 10%;
    display: flex;
    align-items: center;
}
.navbar .cart img{
    height: 80%;
    width: 80%;
}
.main-container{
    padding: 13vh;
    margin: auto;
    width: 100%;
    height: 230vh;
    cursor: pointer;
}
.main-container .con1{
    height: 20%;
    width: 100%;
}
.main-container .con1 img{
    width: 100%;
    height: 100%;
}
.main-container .con2{
    padding: 10px;
    height: 18%;
    width: 100%;   
    display: flex;
    gap: 10px;
}
.main-container .con2 .box{
    margin-left: 15px;
    height: 100%;
    width: 28%;
}
.main-container .con2 .box img{
    height: 100%;
    width: 100%;
}
.main-container .con3{
    width: 100%;
    height: 23%;
}
.main-container .con3 .row1{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main-container .con3 .b1{
    width: 9%;
    height: 90%;
}
.main-container .con3 .b1 img{
    width: 100%;
    height: 100%;
}
.main-container .con3 .row2{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main-container .con4{
    width: 100%;
    height: 47%;
}
.main-container .con4 .container1{
    height: 50%;
}
.main-container .con4 .title{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-container .con4 h2{
    margin:10px;
    padding-left: 15px;
}
.main-container .con4 .title p{
    color: green;
    padding-right: 15px;
}
.main-container .con4  .main-box{
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main-container .con4 .main-box .card1{
    width: 15%;
    height: 90%;
    border: solid 1px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
}
.main-container .con4 .main-box .card1 .img{
    height: 50%;
    width: 90%;
}
.main-container .con4 .main-box .card1 .img img{
    border: solid 1px gray;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}
.main-container .con4 .main-box .card1 .details{
    height: 40%;
    width: 90%;
}
.main-container .con4 .main-box .card1 .details .name{
    margin: auto;
    height: 60%;
    width: 90%;
}
.main-container .con4 .main-box .card1 .details .name p{
    font-weight: bold;
    font-size: 14px;
    margin:8px 0 5px 0;
}
.main-container .con4 .main-box .card1 .details .price{
    margin: auto;
    height: 40%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.main-container .con4 .main-box .card1 .details .price button{
    color: green;
    border: solid 1px green;
    height: 30px;
    width: 50px;
    border-radius: 5px;
}
.main-container .con4 .container2{
    height: 50%;
}
.footer{
    padding-top: 40px;
    height: 80vh;
    width: 90%;
    margin: auto;
}
.footer .con1{
    padding-top: 10px;
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
}
.footer .con1 .box1{
    width: 40%;
    height: 100%;
    padding: 15px;
}
.footer .con1 .box1 .content{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .con1 .box1 .content .c1{
    width: 30%;
    height: 90%;
    cursor: pointer;
}
.footer .con1 .box1 .content .c1 p{
    padding-bottom: 8px;
}
.footer .con1 .box2{
    width: 60%;
    height: 100%;
    padding: 15px;
}
.footer .con1 .box2 .text{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .con1 .box2 .text .b1{
    width: 30%;
    height: 90%;
    cursor: pointer;
}
.footer .con1 .box2 .text .b1 p{
    padding-bottom: 8px;
}
.footer .con2{
    height: 20%;
    width: 100%;
    background: #fcfcfc;
    display: flex;
}
.footer .con2 .box{
    height: 100%;
    width: 40%;
    font-size: 13px;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .con2 .download{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer .con2 .download .icon{
    height: 90%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.footer .con2 .download img{
    height: 40%;
    width: 20%;
}
.footer .con2 .download .icon img{
    width: 100%;
    height: 60%;
}
.footer .con3{
    height: 8%;
    width: 100%;
    color: grey;
    font-size: 14px;
}
